@import url("https://use.typekit.net/kir7vhv.css");


/*============================================
Colors
==============================================*/

html {
	--color-mauve-light-extra: #FAF0FF;
	--color-mauve-light: #F4DEFF;
	--color-mauve-muted: #A17C87;
	--color-mauve-muted-dark: #871B55;
	--color-pomelo: #FF7474;
	--color-pomelo-light: #FF959B;
	--color-pomelo-light-extra: #FFF3EC;
	--color-teal: #09B9AE;
	--color-teal-light: #9BDFE9;
	--color-teal-light-half: #A4ECF6;
	--color-teal-light-extra: #C5F8FF;
	--color-teal-muted: #52A3AF;
	--color-teal-muted-light: #77AEB7;
	--color-teal-dark: #298C99;
	--color-teal-dark-extra: #356970;
	--color-berry-dark: #AD2858;
	--color-berry-muted-light: #D093A9;
	--color-white: #FFFFFF;
}

/*============================================
Master Layout & Typography
==============================================*/

html {
	--ratio: 1.245;
	--size-one: calc(var(--size-two) * var(--ratio));
	--size-two: calc(var(--size-three) * var(--ratio));
	--size-three: calc(var(--size-four) * var(--ratio));
	--size-four: calc(var(--size-five) * var(--ratio));
	--size-five: calc(var(--size-six) * var(--ratio));
	--size-six: calc(.6rem * var(--ratio));
	--size-seven: calc(var(--size-one) * var(--ratio));

	font-family: Futura-pt, Arial, Sans-serif;

	line-height: 1.44;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Futura-pt, Arial, Sans-serif;
}

h1 {
	/*font-size: 1.8rem;*/
	font-size: var(--size-one);
	font-weight: 770;
	text-align: center;
	letter-spacing: .04em;
	margin: 2.5rem 0 1rem;
	padding: 0 1rem;
}

h2 {
	font-size: var(--size-two);
	margin-top: 2.5rem;
	margin-bottom: .65rem;
}

h3 {
	font-size: var(--size-three) ;
}

h4 {
	font-size: var(--size-four) ;
}

h5 {
	font-size: var(--size-five);
}

h6 {
	font-size: var(--size-six);
}

a, a:visited {
	color: var(--color-teal-muted);
	text-decoration: none;
}

a:hover {
	color: var(--color-teal-dark-extra);
}

main a:hover {
	background-color: var(--color-mauve-light-extra);
	transition: background-color 1.5s ease;
}

a:focus {
	text-decoration: underline;
}

a:active {
	color: var(--color-pomelo);
	text-decoration: none;
}


/*============================================
Header Components
==============================================*/

header {
	background-color: var(--color-mauve-light-extra);
	padding: .5rem 1rem;
}

.group-logo { 
	align-items: center; /*Centers Cacti Logo and KELLY HUANG along cross-axis*/
	display: flex;
	justify-content: center; /*Centers the Cacti Logo & KELLY HUANG along the main axis*/
	margin-left: 0;
}

.logo-text {
	color: var(--color-pomelo);
	font-size: 3rem;
	font-weight: bold;
	margin-left: .2rem;
	padding: .5rem;
	text-transform: uppercase;
}

.logo-text:visited {
	color: var(--color-pomelo);
}

header ul {
	padding-left: 0;
}

header nav li {
	font-size: 1.1rem;
	list-style: none;
	margin: .25rem;
	padding: .25rem;
	text-align: center;
}

header nav a, header nav a:visited {
	color: var(--color-berry-dark);
	padding: .3rem 1.5rem;
	text-decoration: none;
}

header nav a:hover {
	color: var(--color-berry-muted-light);
	transition: all 1s ease;
}

header nav a:focus {
	text-decoration: underline;
}

header nav a:active {
	color: var(--color-pomelo);
	text-decoration: none;
}

.current-page {
	background-color: rgba(186, 247, 255, .65);
}


@media (min-width: 846px) {
	
	header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		min-height: 14vh;
		padding: .3rem;
	}

	header ul {
		display: flex;
		width: 100%;
	}

	header nav {
		margin-right: .3rem;
	}

	.group-logo {
		margin-left: .3rem;
	}

	header nav a {
		padding: .3rem .7rem;
	}

	header nav li {
		margin: .1rem;
		padding: .15rem;
	}

}


/*================================
Hero Components
==================================*/

.hero-block {
	background-image: url(images/SAtrain2-overlay10desat8.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 65vh;
	margin: 0;
	position: relative;
}

.hero-text {
	font-size: 2.9rem;
	font-weight: 500;
	color: var(--color-teal-light-half);
	position: absolute;
	right: 4.5rem;
	top: 4rem;
	max-width: 32rem;
	text-align: right;
	line-height: 1.3;
	padding-left: 1.5rem;
}

.hero-subtext {
	font-size: 1.7rem;
	font-weight: 450;
	color: var(--color-mauve-light);
	position: absolute;
	right: 4.5rem;
	bottom: 11.5rem;
}

.link-button-primary, .link-button-primary:visited {
	background-color: var(--color-berry-muted-light);
	color: var(--color-mauve-muted-dark);
	font-weight: 420;
	padding: .7rem 2.1rem;
	border-radius: .7rem;
	position: absolute;
	right: 10rem;
	bottom: 4rem;
	text-transform: uppercase;
	margin: auto;
}

.link-button-primary:hover {
	background-color: var(--color-mauve-muted-dark);
	color: var(--color-pomelo-light);
	animation: colorchange 3s linear;
	animation-iteration-count: 3;
	animation-direction: alternate;
}


@keyframes colorchange {

	0% {
		background-color: var(--color-berry-muted-light);
		color: var(--color-mauve-muted-dark);
	}

	100% {
		background-color: var(--color-mauve-muted-dark);
		color: var(--color-pomelo-light);
	}

}

.link-button-primary:focus {
	text-decoration: underline;
}

.link-button-primary:active {
	background-color: var(--color-pomelo);
	color: var(--color-pomelo-light-extra);
	text-decoration: none;
}

@media (min-width: 1330px) {
	
	.link-button-primary {
		bottom: 6rem;
		right: 8rem;
	}
	
}

/*============================================
Body Components
==============================================*/

body {
	margin: 0;
}

/*============================================
Main Components
==============================================*/

main {
	padding-top: .5rem;
	min-height: 75vh;
}

/*============================================
Home Page Components
==============================================*/


.bio-image {
	display: block;
	margin: auto;
	max-width: 440px;
	width: 80%;
}

.bio-section {
	padding-bottom: 3rem;
}

.bio-content p {
	padding: 1.5rem 2rem 0;
	margin: 0 auto;
	max-width: 46rem;
}

@media (min-width: 900px) {

	.bio-image {
		float: left;
		margin: 2rem 2.5rem;
	}

	.bio-content {
		display: block;
		margin: auto;
		max-width: 970px;
	}

	.bio-content p {
		max-width: 55rem;
	}
}

/*============================================
Resume Page Components
==============================================*/

.resume-header {
	align-items: start;
	display: flex;
	justify-content: space-between;
	/*margin-bottom: 2rem;*/
}

.resume-header-h1 {
	font-size: 2.8rem;
	line-height: 1.3; 
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: 5rem;
}

.resume-header-contact p {
	/*margin: .3rem 0;*/
	line-height: .7;
	text-align: right;
}

.main-resume {
	margin: 2rem auto;
	max-width: 50rem;
	padding: 1.5rem;
}

.main-resume h2 {
	margin-bottom: .3rem;
	border-bottom: 1px solid black;
}

.main-resume ul {
	margin-bottom: .65rem;
	margin-top: 0;
	max-width: 42rem;	
}

.entity-location {
	display: flex;
	font-weight: 700;
	justify-content: space-between;
}

.entity-location p {
	margin-bottom: 0;
	margin-top: .6rem;
}

.position-duration {
	display: flex;
	justify-content: space-between;
}

.position-duration p:first-child {
	font-style: italic;
}

.position-duration p {
	margin-top: 0;
	margin-bottom: 0;
}



/*=============================================
Portfolio Page Components
===============================================*/

.portfolio-section {
	align-items: center;
	color: #000;
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin: 2rem auto;
	text-decoration: none;
}

.portfolio-section a:visted {
	color: black;
}

.portfolio-caption {
	color: black;
	max-width: 300px;
	padding: .1rem .1rem;
}

.cap-title {
	text-align: center;
	font-weight: bold;
	font-size: 1.3rem;
}

@media (min-width: 650px) {
	
	.portfolio-content {
		align-items: start;
		display: grid;
		/*grid-column-gap: 1rem;*/
		grid-row-gap: 1rem;
		grid-template-columns: 1fr 1fr;
		margin: 1rem;
	}

}

@media (min-width: 950px) {
	.portfolio-content {
		display: grid;
		grid-row-gap: 1rem;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 1250px) {
	.portfolio-content {
		display: grid;
		grid-row-gap: 1rem;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		max-width: 1370px;
		margin: auto;
	}
}



/*=============================================
So Lucky Page Components
===============================================*/

.main-solucky {
	margin: auto;
	max-width: 50rem;
	padding: 0 2.5rem;
}

.main-solucky p {
	margin: 1.5rem 0;
	text-indent: 2.5rem;
}

.capitalize {
	text-transform: uppercase;
}

.img-fit {
	display: block;
	margin: auto;
	max-width: 780px;
	width: 80%;
}

.ideation-pic {
	display: block;
	margin: .3rem auto;
	width: 85%;
	border: 1px solid gray;
}

.bold {
	font-weight: 655;
}

.learning-child, .BG-child, .FG-child, .banner-child {
	margin-bottom: .3rem;
}


@media (min-width: 540px) {
	.figma-group, .BG-group, .FG-group {
		justify-items: center;
		display: grid;
		grid-gap: .5rem;
		margin: auto;
	}
	
	.figma-group, .BG-group, .FG-group {
		align-items: stretch;
	}

	.figma-group {
		grid-template-columns: 4fr 6fr;
		grid-template-rows: 10fr;
		max-width: 550px;
	}

	.figma-child, .BG-child, .FG-child {
		width: 100%;
		margin: 0;
	}

	.img-SL7 {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.BG-group, .FG-group {
		grid-template-columns: 1fr 1fr 1fr;
		max-width: 700px;
	}

	.img-SL13, .img-SL16 {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	.img-SL14, .img-SL17 {
		grid-column-start: 2;
		grid-column-end: 3;
	}

	.img-SL15, .img-SL18 {
		grid-column-start: 3;
		grid-column-end: 4;
	}

}

@media (min-width: 600px) {
	
	.SL-cast {
		float: right;
		margin: 1rem .5rem 1rem 1.5rem;
		max-width: 340px;
	}

	.ideation-pic-group {
		align-items: stretch;
		justify-items: center;
		display: grid;
		grid-gap: .5rem;
		grid-template-columns: repeat(11, 1fr);
		grid-template-rows: 1fr 1fr .5fr .5fr .5fr .5fr 1fr 1fr .3fr;
		margin: auto;
		max-width: 600px;	
	}
	
	.ideation-pic {
		margin: 0;
		width: 100%;
	}

	.ideation-child {
		width: 100%;
	}

	.img-SL1 {
		grid-column-start: 1;
		grid-column-end: 8;
		grid-row-start: 1;
		grid-row-end: 4;
	}

	.img-SL2 {
		grid-column-start: 8;
		grid-column-end: 12;
		grid-row-start: 1;
		grid-row-end: 6;
	}

	.img-SL3 {
		grid-column-start: 8;
		grid-column-end: 12;
		grid-row-start: 6;
		grid-row-end: 10;
	}

	.img-SL4 {
		grid-column-start: 1;
		grid-column-end: 8;
		grid-row-start: 4;
		grid-row-end: 10;
	}
}

@media (min-width: 700px) {

	.learning-group, .banner-group {
		justify-items: stretch;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: .5rem;
		max-width: 600px;
		margin: auto;
	}
	
	.learning-group {
		align-items: stretch;
	}

		
	.learning-child, .banner-child {
		width: 100%;
		margin-bottom: 0;
		margin-top: 0;
	}

	.img-SL8, .img-SL19 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.img-SL9, .img-SL20{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.img-SL10, .img-SL21 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.img-SL11, .img-SL22 {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.img-SL23 {
		max-width: 600px;
		width: 100%;
	}
}

.categories-group {
	display: flex;
	justify-content: center;
}

.column1 {
	margin: 0 3.5rem 0 0;
}


/*=============================================
Artist's Way Page Components
===============================================*/

.main-artistsway {
	margin: auto;
	max-width: 50rem;
	padding: 0 2.5rem;
}

.main-artistsway p {
	margin: 1.5rem 0;
	text-indent: 2.5rem;
}

.img-AW {
	max-width: 560px
}

@media (min-width: 850px) {

	.ideation-class-group {
		display: grid;
		grid-gap: .5rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		max-width: 750px;
		margin: auto;
	}

	.IC-child {
		width: 100%;
		margin: 0;
	}

	.SS-1 {
		grid-column-start: 1;
		grid-column-end: 2;

	}

	.SS-2 {
		grid-column-start: 2;
		grid-column-end: 3;
	}

}

/*=============================================
About Page Components
===============================================*/


.about-pic {
	display: block;
	margin: auto; /*centers the About Pic*/
}

.about-content {
	display: block;
	margin: auto;
	max-width: 840px;
}

.about-para {
	padding: .5rem 1.5rem;
}


@media (min-width: 730px) {
	
	.about-pic {
		float: right;
		margin: 1.5rem;
	}

}


/*=============================================
Contact Page Components
===============================================*/

.contact-page, .contact-form {
	display: block;
	max-width: 550px;
	margin: auto;
}


.form-field-name, .form-field {
	border: 1px solid gray;
	border-radius: .25rem;
	box-shadow: none;
	display: inline-block;
	margin: .3rem;
	padding: .8rem;
}

.form-field-name {
	max-width: 150px;
	width: 100%;
}

.form-field {
	max-width: 500px;
	width: 100%;
}

.field-label {
	margin: 0 .3rem;
}

.button-submit {
	background-color: var(--color-pomelo-light);
	border-radius: .7rem;
	color: var(--color-white);
	font-family: Futura-pt, Arial, Sans-serif;
	font-weight: 470;
	font-size: 1rem;
	padding: 1rem 2.7rem;
	margin: .5rem;
	
}


/*================================
Footer Components
==================================*/

/*.footer-text {
	max-width: 39rem;
	margin: 0 auto;
}*/

footer {
	background-color: var(--color-mauve-muted);
	clear: both;
	color: var(--color-pomelo-light-extra);
	font-size: .9rem;
	padding: 2rem;
	margin: auto;
	text-align: center;
}

footer nav ul {
	display: flex;
	padding-left: 0;
	justify-content: center;
}

footer nav li {
	list-style: none;
	padding: .3rem;
	text-align: center;
}

footer nav a, footer nav a:visited {
	color: var(--color-teal-light-extra);
	padding: .3rem .7rem;
}

footer nav a:hover {
	border: 1.5px solid var(--color-teal-light);
	border-radius: 4px;
}

footer nav a:focus {
	text-decoration: underline;
}

footer nav a:active {
	background-color: var(--color-teal-light);
	color: var(--color-teal-dark-extra);
	text-decoration: none;
}

@media (min-width: 650px) {

	footer {
		align-items: baseline;
		display: flex;
		justify-content: space-between;
		padding: 1rem;
	}

}




